{% load static %}

<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <title>{% block title %} Структура факультета {% endblock title%}</title>
    <link href="{% static 'struct_department/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'struct_department/css/styles.css' %}" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">

<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    </nav>
</header>

{% block content %}
{% endblock %}

<footer>
    <nav class="navbar navbar-expand-md navbar-light fixed-bottom bg-light">
    </nav>
</footer>

</body>
</html>
